# EditorConfig helps maintain consistent coding styles across editors and IDEs.
# See: https://editorconfig.org/

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 120

[*.{yml,yaml,json,jsonc,toml}]
indent_style = space
indent_size = 2

[*.{md,mdx}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
max_line_length = off

[*.{html,css,scss,sass,less,js,jsx,ts,tsx,vue,svelte}]
indent_style = space
indent_size = 2

[*.{xml,svg}]
indent_style = space
indent_size = 2

[*.{sh,bash,zsh,ksh}]
indent_style = space
indent_size = 2

[*.{py,pyi,rb,php,java,kt,kts,scala,cs,cpp,cxx,cc,h,hpp,hxx,c,rs,swift,pl,pm,t}]
indent_style = space
indent_size = 4

[*.go]
indent_style = tab
tab_width = 4

[Makefile]
indent_style = tab
tab_width = 4

[*.mk]
indent_style = tab
tab_width = 4

[{.gitconfig,*.gitconfig}]
indent_style = tab
tab_width = 4

[*.{bat,cmd,ps1}]
end_of_line = crlf
indent_style = space
indent_size = 2

[*.{nfo,ans,asc,txt}]
trim_trailing_whitespace = false
